@import url(style.css);

main {
    max-width: 1440px;
}

.bm-sec {
    background-color: var(--secondary-sacramento_state_green);
    min-height: 684px;
    background-image: url(../assets/pattern/bg-pattern-home-3.svg);
    background-repeat: no-repeat;
    background-position: 108.09% 100%;
}

.bm-con {
    display: flex;
    padding-top: 9.75rem;
    padding-left: 10.3125rem;
    height: 404px;
    width: 1410px;
}

.bm-con h2,
.bm-con p {
    color: var(--primary-white);
}

.bm-con h3 {
    color: var(--primary-light_coral);
}

.bm-line {
    border-top: 3.5px solid var(--primary-light_coral);
    margin-top: -1rem;
    padding-bottom: 3.4375rem;
    width: 50px;
}

.bm-h2 {
    width: 445px;
    height: 202px;
    font-size: 32px;
    line-height: 48px;
}

.bm-cons {
    padding-left: 7.8125rem;
    height: 346px;
    width: 720px;
}

.bm-boxes {
    display: flex;
}

.bm-text {
    padding-left: 1.4375rem;
    padding-top: .125rem;
}

.bm-text h3 {
    padding-bottom: 1.1875rem;
    font-size: 18px;
}

.bm-text p {
    line-height: 25px;
    font-size: 15px;
}

.bm-box-1 {
    padding-top: 2.625rem;
}

.bm-box-2,
.bm-box-3 {
    padding-top: 2rem;
}

.bm-boxes img {
    height: 72px;
    width: 72px;
}

@media screen and (max-width: 768px) {
    .bm-sec {
        background-position: 121.08% 0%;
    }

    .bm-con {
        display: flex;
        flex-direction: column;
        padding-top: 7.25rem;
        padding-left: 6.1125rem;
        height: 710px;
        width: 768px;
    }

    .bm-cons {
        padding-left: 0rem;
        width: 570px;
    }

    .bm-line {
        padding-bottom: 32px;
    }

    .bm-h2 {
        height: 106px;
        font-size: 21.4px;
        line-height: 32px;
    }
}