@import url(style.css);

.contacts {
    display: flex;
    flex-direction: row;
    padding: 120px 165px;
    background-color: var(--primary-midnight_green);
    max-width: 1440px;
}
.information {
    display: flex;
    flex-direction: column;
}
.contacts h1 {
    min-width: 350px;
    min-height: 100px;
    font-size: 64px;
    color: var(--primary-white)
}
.ask-us-about h2 {
    margin-top: 0.625rem;
    min-width: 540px;
    min-height: 64px;
    font-size: 32px;
    color: var(--primary-light_coral);
}