/* Scrum-5 */
@import url(style.css);


main {
    max-width: 1440px;
}
.bestTalent {
    background-color: var(--primary-midnight_green);
    height: 579px;
}

.logo h1 {
    color: var(--primary-white);
    font-size: 6.25rem;
}

.logo span {
    color: var(--primary-light_coral);
}

.main-text{
    color: var(--primary-white);
    position: absolute;
    left: 830px;
    font-size: 1.125rem;
    top: 213px;
    width: 427.83px;
    word-spacing: 0px;
    line-height: 28px;

}

.logo {
    position: relative;
    margin-left: 165px;
    top: 129px;
    line-height: 1;
    width: 1275px;
}

.main-text::before {
    content: "";
    position: absolute;
    top: -84px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: var(--secondary-rapture_blue);
}

.pattern-1 {
    position: relative;
    margin-left: -100px;
    bottom: 71px;
}

.pattern-2 {
    position: relative;
    margin-left: 917px;
    bottom: -75px;
}
.main-text{
    user-select: text !important;
    -webkit-user-select: text !important;
    pointer-events: auto !important;
    z-index: 9999;
}
.logo {
    user-select: text !important;
    -webkit-user-select: text !important;
    pointer-events: auto !important;
    z-index: 9999;
}