@import url(style.css);

header,
main,
footer {
    max-width: 1440px;
}

/* Footer */
footer {
    background-color: var(--secondary-dark_green);
    height: 12.25rem;
    position: absolute;
    width: 100rem;
}

.footerMain {
    display: flex;
    margin: 3rem 10.25rem;
    height: 6.25rem;
    font-size: 0.938rem;
    line-height: 1.563rem;
}

/* Footer col 1 */
.footerCol1 {
    letter-spacing: 0.05rem;
    width: 10rem;
    font-size: 1rem;
    line-height: 2.8rem;
    color: var(--primary-white);
}

.footerCol1 a {
    margin: 1.563rem 0 0.438rem;
    color: var(--primary-white);
    text-decoration: none;
}

.footerCol1 a:first-child {
    margin-right: 2.5rem;
}

/* Footer col 2 */
.footerCol2 {
    margin: 0 0 0 7.813rem;
    color: var(--primary-white);
    opacity: 0.6;
}

/* Footer col 3 */
.footerCol3 {
    margin-left: auto;
    color: var(--primary-white);
}

.footerCol3 p {
    font-size: 0.94rem;
    opacity: 0.6;
    margin-top: 3.188rem;
}

.footerIcons {
    display: flex;
    justify-content: end;
}

.footerIcon {
    margin-left: 16px;
}